:root {
  --background: #f2f2f2;
  --text-primary: #0f0f0f;
  --text-secundary: #F2F2F2;
  --accent: #2c73ba;
  --border: #1f1e1e;
}

[data-theme="dark"] {
  --background: #121214;
  --text-primary: #F2F2F2;
  --text-secundary: #121214;
  --accent: #6FA6DD;
  --border: #252529;
}
