.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: var(--text-primary);
    background: none;
    font-size: 18px;
    border-radius: 0px;
    border: none;
    width: 200px;
    height: 40px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}

.original-button:hover{
    cursor: pointer;
    color: var(--accent);
}

.original-button::before,
.original-button::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: var(--text-primary);
    transition: .3s;
}

.original-button::before {
    top: 0;
}

.original-button::after {
    bottom: 0;
}

.original-button:hover::before {
    transform: translateX(-100%);
}

.original-button:hover::after {
    transform: translateX(100%);
}