.footer-container {
  width: 100%;
  border-top: 1px solid var(--border);
}

.footer-container-content {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .footer-container-content {
    justify-content: center;
  }
}